canvas {
  display: block;
  background-color: #70c5ce; /* Light blue sky background */
  width: 100vw;
  height: 100vh;
  outline: none; /* Removes the outline when the canvas is focused */
}
.app {
  text-align: center;
  margin-top: 20px;
}


