@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyCustomFont';
  src: url("./assets/17634.ttf") format("truetype");
  font-style: normal;
}

body {
  font-family: 'MyCustomFont', 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assets/background.png") repeat-x;
  animation: scroll-right 60s linear infinite;
  overflow: hidden;
  position: fixed;
  user-select: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.1s;
}

button:active {
  transform: scale(0.8);
}

@keyframes scroll-right {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}

img, video{
  max-width: none;
}

.game-interface {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content horizontally */
}

.header-container, .bird-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.bird-container {
  margin-left: 15px;
}

#bird-image {
  visibility: hidden;
}

#bird-animation {
  animation: birdAnimation 0.45s steps(6) infinite;
  background-size: cover;
  background-position: center;
}

@keyframes birdAnimation {
  0% { background-image: url('./assets/1.svg'); }
  16.67% { background-image: url('./assets/2.svg'); }
  33.33% { background-image: url('./assets/3.svg'); }
  50% { background-image: url('./assets/4.svg'); }
  66.67% { background-image: url('./assets/5.svg'); }
  83.33% { background-image: url('./assets/6.svg'); }
  100% { background-image: url('./assets/1.svg'); }
}

.durov-button {
  position: absolute;
  top: 270px;
  right: 15px;
}

.header-container, .bird-container, .game-menu-container {
  display: flex;
  justify-content: center; /* adjust spacing as needed */
}

.game-menu-container {
  flex-direction: column;
  align-items: center;
}

.first-layer, .second-layer {
  display: flex;
  justify-content: space-around;
  background: none;
}

.menu-button {
  margin: 5px; /* adjust spacing between buttons */
}

.leaderboard-list {
  position: absolute;
  margin-top: 10px;
  margin-left: -115px;
}

.leaderboard-list img {
  position: absolute;
  margin-top: 120px;
}

.leaderboard-eggs {
  position: absolute;
  margin-left: -175px;
}

.member-list {
  position: absolute;
  margin-left: -40px;
  margin-top: 137px;
  list-style: none;
}

.leaderboard-member {
  padding: 30px;
}

.member-name {
  position: absolute;
  margin-top: 120px;
  margin-left: 20px;
  font-size: 2em;
}

.member-score {
  position: absolute;
  margin-top: 125px;
  margin-left: 160px;
  font-size: 1.5em;
}

.leaderboard-container {
  position: absolute;
  margin-top: 10px;
  margin-left: -40px;
}

.close-button {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 20;
}

.background-music {
  position: absolute;
  margin-left: -130px;
}

.background-music audio {
  display: none;
}

.ton-connect {
  position: absolute;
  margin-top: 300px;
  margin-left: -80px;

}

.App {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #70c5ce;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.scroll-container {*/
/*  display: flex;*/
/*  width: 200%;*/
/*  animation: scroll 2s linear infinite;*/
/*}*/

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
